html, body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: transparent;
    transition: background ease-out 0.2s;
}

header .navbar-collapse {
    flex-grow: 0;
    width: auto;
}

header #navbarNav .nav-link {
    text-transform: uppercase;
    font-weight: 500;
    padding: .5rem 0;    
    color: #000;
    border-bottom: 4px solid transparent;
}

header #navbarNav .nav-link:hover {
    border-bottom: 4px solid var(--secondary);
    color: var(--secondary);
}
