/* MIN WIDTH - Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    header #navbarNav .nav-link {
        margin: 0 15px;
    } 
}

/* MAX MEDIUM - Medium devices (tablets, less than 992px) */ 
@media (max-width: 991.98px) { 
    header .navbar-collapse {        
        width: 100%; 
    }    
}